name: Strip and Update miniaudio.h

on:
  schedule:
    - cron: '0 0 * * *' # Runs daily at midnight
  workflow_dispatch: # Allows manual triggering

jobs:
  process-miniaudio:
    runs-on: ubuntu-latest

    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the
      # added or changed files to the repository.
      contents: write

    steps:
      # Checkout the repository
      - name: Checkout repository
        uses: actions/checkout@v3

      # Install unifdef
      - name: Install unifdef
        run: sudo apt-get update && sudo apt-get install -y unifdef

      # Download miniaudio.h
      - name: Download miniaudio.h
        run: curl -o miniaudio.h https://raw.githubusercontent.com/mackron/miniaudio/master/miniaudio.h
      
      # Verify that miniaudio.h exists and is not empty
      - name: Verify miniaudio.h exists
        run: |
          if [ ! -s miniaudio.h ]; then
            echo "Error: miniaudio.h does not exist or is empty"
            exit 1
          fi
      
      # Run unifdef
      - name: Run unifdef
        continue-on-error: true # unifdef returns 1 if content changed
        run: |
          unifdef \
              -DMA_NO_DECODING -DMA_NO_ENCODING \
              -DMA_NO_WAV -DMA_NO_FLAC -DMA_NO_MP3 \
              -DMA_NO_ENGINE -DMA_NO_THREADING -DMA_NO_RESOURCE_MANAGER \
              -DMA_NO_NODE_GRAPH -DMA_NO_GENERATION \
              miniaudio.h > miniaudio_processed.h
              if [ $? -eq 2 ]; then
                echo "Error: unifdef encountered a problem"
                exit 2
              fi
              mv miniaudio_processed.h miniaudio.h

      # Remove block comments
      - name: Remove block comments
        run: sed -i '/\/\*/,/\*\//d' miniaudio.h

      # Commit and push changes
      - name: Commit and push changes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add miniaudio.h
          git commit -m "Update stripped miniaudio.h" || echo "No changes to commit"
          git push origin main
